{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "starexplosion"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
