{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/weaponconfigurator/header.png",
      "fileBody" : "/interface/scripted/weaponconfigurator/body.png",
      "fileFooter" : "/interface/scripted/weaponconfigurator/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Weapon Configuration Interface",
      "subtitle" : "Rebalance your destiny",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/weaponconfigurator/weaponconfiguratoricon.png"
      }
    },
    

    "damageLabel" : {
    	"type" : "label",
    	"position" : [7, 249],
    	"vAnchor" : "top",
    	"value" : "Element:"
    },
    
    "projLabel" : {
    	"type" : "label",
    	"position" : [7, 178],
    	"vAnchor" : "top",
    	"value" : "Firing Mode:"
    },
    
    "altLabel" : {
    	"type" : "label",
    	"position" : [7, 107],
    	"vAnchor" : "top",
    	"value" : "Special:"
    },
    
    "damageScrollArea" : {
      "type" : "scrollArea",
      "position" : [5, 180],
      "size" : [169, 60],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/weaponconfigurator/listitemselected.png",
            "unselectedBG" : "/interface/scripted/weaponconfigurator/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 10],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [7, 0],
                "hAnchor" : "left",
                "wrapWidth" : 151,
                "value" : "Replace Me"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    
    "projScrollArea" : {
      "type" : "scrollArea",
      "position" : [5, 109],
      "size" : [169, 60],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/weaponconfigurator/listitemselected.png",
            "unselectedBG" : "/interface/scripted/weaponconfigurator/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 10],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [7, 0],
                "hAnchor" : "left",
                "wrapWidth" : 151,
                "value" : "Replace Me"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    
    "altScrollArea" : {
      "type" : "scrollArea",
      "position" : [5, 38],
      "size" : [169, 60],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/weaponconfigurator/listitemselected.png",
            "unselectedBG" : "/interface/scripted/weaponconfigurator/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 10],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [7, 0],
                "hAnchor" : "left",
                "wrapWidth" : 151,
                "value" : "Replace Me"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/weaponconfigurator/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "btnUpgrade" : {
      "type" : "button",
      "position" : [3, 24],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Compile",
      "callback" : "doUpgrade"
    },
    
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 258]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "doUpgrade"
  ],

  "scripts" : ["/interface/scripted/weaponconfigurator/weaponconfiguratorui.lua"],
  "scriptDelta" : 30,

  "upgradeData" : {
    "elementalType" : "<elementalType>"
  },
  "rangedUpgradeData" : {
    "shortdescription" : "<shortDescription> [<projectileTypeName>]",
    "rangedIndex" : 1,
    "primaryAbility" : {
      "projectileType" : "<projectileType>", "projectileParameters" : {"damageKind" : "<elementalBulletType>plasmabullet"}, "fireTime" : 1, "projectileCount" : 1, "inaccuracy" : 0, "fireType" : "<fireType>", "burstCount" : 1, "burstTime" : 0.1
      }
  },
  "meleeUpgradeData" : {
    "primaryAbility" : {"damageConfig" : {"damageSourceKind" : "<elementalBulletType><meleeType>"}}
  },
  "altUpgradeData" : {
    "altAbilityType" : "<altAbilityType>"
  }
}
